
// .set-layout{
//     .layout-folder{
//         width: 100%;
//         display: flex;
//         align-items: flex-start;
//         color: white;
//     }
// }

.set-layout{
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    
    .set-portfolio{
        display: flex;
        width: 90%;
        margin: auto;
        flex-direction: column;
    
        .item-portfolio{
            height: 100vh;
            display: flex;
            align-items: center;
        }
    }
}
