.set-portfolio-details{
    padding: 0rem 1rem 0 1rem;
    margin-top: 0rem;
    position: absolute;
    top: 7rem;
    .projet-image{
        img{
        }
    
    }
}


@media (min-width: 768px) {
    .set-portfolio-details{
        .projet-image{
            img{
                max-width: 45%;
                margin-right: 1rem;
            }
        
        }
    }
}