.set-portfolio{
    display: flex;
    width: 100%;
    .list-link{
        width: 100%;
    }
  

    .gallery{
        display: flex;
        // justify-content: center;
        align-items: flex-start;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 90%;
        .projet-image{
            // width: 100%;
            // padding: 1rem;
            width: 350px;
            // max-width: 30%;
            // margin-right: 6rem;
        }
    }
    

    .projet-content{
        background-color: #181818;
        padding: 2rem;
       
 
    }


    .footer-projetContent{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;        
        margin-top: 2rem;

        .project-tech-list{
        
            display: flex;
            list-style: none;
            li{
                margin-right: 0.5rem;
            }
       
        }
        
      
    }
    
    .btn-learnMore{
        padding: 1rem;
        border: 1px solid #eee;
        border-radius: 11px;
        cursor: pointer;
       a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg{
            margin-left: 0.5rem;
        }
       }
    }

}
@media (min-width: 768px) {
    .list-link{
        background-color: transparent;
    }
}

@media (min-width: 326px) {
    .list-link{
        position: fixed;
        top: 2rem;
        background-color: #181818;
        width: 100%;
        h1{
            padding: 1rem;
        }
        .link-portfolio{
            &.active{
                color: #13c455;
                background-color: #181818;
            }
        } 
        a{
            margin-right: 1rem;
            padding: 1rem;
            display: inline-block;
            border-radius: 15px;
            color: white;
            // background-color: red;
        }
       
    }
}